<a href="https://colab.research.google.com/github/mishelnetto28/python-csbs/blob/main/day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Print statement in Python

In [ ]:
print("first program in python")

first program in python

2. Sum and Average of firt n natural numbers

In [ ]:
n = int(input("Enter number"))
sum = 0

for num in range(1, n + 1, 1):
    sum = sum + num
print("Sum of first ", n, "numbers is: ", sum)
average = sum / n
print("Average of ", n, "numbers is: ", average)

Enter number10
Sum of first  10 numbers is:  55
Average of  10 numbers is:  5.5

3. For Loop in python

In [ ]:
print("numnbers between 0 to 6:")
for i in range(1,6):
  print(i)

numnbers between 0 to 6:
1
2
3
4
5

4. Reverse List

In [ ]:
for i in reversed(range(1,6)):
  print(i,end=' ')

5 4 3 2 1

5. Sum and Average of a list

In [ ]:
num_list = [10,20,5,30,45,5,50]
res1=0
for num in num_list:
  res1+=num
avg=res1/len(num_list)
print("sum is",res1,"average is",avg)

sum is 165 average is 23.571428571428573

6. Multiplication table of 2

In [ ]:
print("multiplication table of 2:\n")
n=2
for i in range (1,11):
  p=n*i
  print(n,'*',i,'=',p)

multiplication table of 2:

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

7. While loop to calculate sum and average

In [ ]:
n=20
total_number =n
sum=0
while n>=0:
  sum+=n
  n-=1
print("sum=",sum)
average= sum / n
print("Average of ", n, "numbers is: ", average)

sum= 210
Average of  -1 numbers is:  -210.0

8. Display Fibonnaci set up to 10 terms

In [ ]:
#first two numbers
num1,num2=0,1

print("Fibonacci sequence:")
#run loop 10 times
for i in range(10):
  print(num1,end='')
  res=num1+num2
  num1=num2
  num2=res

Fibonacci sequence:
0112358132134

9. Find the factorial of a given number

In [ ]:
num=5
factorial=1
if num<0:
  print("Factorisl does not exist")
elif num == 0:
  print("the factorial of 0 is 1")
else:
  for i in range(1,num+1):